@font-face {
    font-family: Cuprum-regular; /* Гарнитура шрифта */
    src: url(../fonts/Cuprum-Regular.ttf); /* Путь к файлу со шрифтом */
}
body{font-family: Cuprum-regular;}

.navbar-back{
    width: 100%;
    background: #f8f9fa;
}

.namespace{
    font-size: 25px;
}